@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,700;1,400&family=Open+Sans:wght@300;400;700&family=Roboto:wght@400;500;700;900&display=swap");


@font-face {
  font-family: "Rockness";
  src: url("./assets/fonts/rockness/399DC5_0_0.woff");
  src: url("./assets/fonts/rockness/399DC5_0_0.eot") format("embedded-opentype"),
    url("./assets/fonts/rockness/399DC5_0_0.woff") format("woff"),
    url("./assets/fonts/rockness/399DC5_0_0.ttf") format("truetype"),
    url("./assets/fonts/rockness/399DC5_0_0.svg") format("svg");
}

body {
  font-family: "Open Sans", sans-serif;
  color: #343434;
  margin: 0;
}

.highlight-title {
  font-family: "Rockness", cursive;
} 

h1,
h2,
h3,
h4 {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}